<!DOCTYPE html>
<html lang="zh-CN">
<%- include ../includes/head %>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">天地会名单</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>天地会</h1>
            <p>天地会，清代民间秘密结社之一。以拜天为父拜地为母得名。又名洪门 ，俗称洪帮 。</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
        </div>
    </div>
    <div class="container">
        <h1><%= title %></h1>
        <button class="btn btn-primary">sdf</button>
        <p>Welcome to <%= title %></p>
    </div>
</body>
<%- include ../includes/foot %>
</html>